body {
    background-color: #060047;
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.main {
    background-color: #46C2CB;
    height: 50px;
    flex: 1;  
}

.logo {
    width: 100px;
}

.flex-container {
    display: flex;
    background-color: black;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    background-color: #E4E4E4;
}

table, th, td {
    border: 1px groove #E4E4E4;
    border-collapse: collapse;
}

th, td {
    background-color: black;
    color: #E4E4E4;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    gap: 40rem;
    background-color: black;
    color: #E4E4E4;
    padding: 10px;
    flex-direction: row;
}

.container-two > * {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.image-right {
    width: 100px;
    float: right;
}

.image-left {
    width: 100px;
    float: left;
}

#one {
    width: 45%;
    float: right;
}

#two {
    width: 45%;
    float: left;
} 

footer {
    text-align: right;
    color: #E4E4E4;
}


@media (max-width: 680px) {
    .logo {
        width: 100px;
    }

    .h1 {
        font-size: 1.5rem;
        text-align: center;
    } 

    #one {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }

    #two {
        width: 100%;
        display: inline;
        margin-bottom: 10px;
        object-fit: cover;
    }
}

